body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

thead tr>.ant-table-cell {
    background: rgba(0, 0, 0, 0.8) !important;
}

thead tr>.ant-table-cell,
.ant-btn-primary:focus,
.ant-btn-primary:active,
.ant-btn-ghost,
.ant-modal-title,
.ant-modal-close {
    color: white !important;
}

.ant-pagination-item-active,
.ant-input:hover,
.ant-btn:focus,
.ant-btn-primary,
.ant-popover-open,
.ant-btn-default:hover,
.ant-btn-ghost:hover {
    border-color: rgba(229, 81, 55, 0.8) !important;
}

.ant-pagination-item-active a,
.ant-btn-default:hover {
    color: rgba(0, 0, 0, 0.8) !important;
}

.ant-btn-primary {
    background: rgba(229, 81, 55, 0.8) !important;
}

.ant-btn-link,
.ant-dropdown-open,
.anticon-search:hover,
.ant-popover-open {
    color: rgba(229, 81, 55, 0.8) !important;
}

.ant-input {
    border-color: rgba(0, 0, 0, 0.8) !important;
}

.ant-modal {
    width: 520px !important;
    height: 400px !important;
    top: 270px !important;
    border-radius: 4px !important;
}

.ant-modal-content {
    background-color: rgba(0, 0, 0, 0.7) !important;
}

.ant-modal-title {
    font-size: 20px !important;
}

div.ant-modal-header {
    border-radius: 4px !important;
    background: transparent;
}

div.ant-modal-footer {
    padding: 15px 16px !important;
}