body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

thead tr>.ant-table-cell {
    background: rgba(0, 0, 0, 0.8) !important;
}

thead tr>.ant-table-cell,
.ant-btn-primary:focus,
.ant-btn-primary:active,
.ant-btn-ghost {
    color: white !important;
}

.ant-pagination-item-active,
.ant-input:hover,
.ant-btn:focus {
    border-color: rgba(229, 81, 55, 0.8) !important;
}

.ant-pagination-item-active a {
    color: rgba(0, 0, 0, 0.8) !important;
}

.ant-btn-primary {
    border-color: rgba(229, 81, 55, 0.8) !important;
    background: rgba(229, 81, 55, 0.8) !important;
}

.ant-btn-link,
.ant-dropdown-open,
.anticon-search:hover {
    color: rgba(229, 81, 55, 0.8) !important;
}

.ant-input {
    border-color: rgba(0, 0, 0, 0.8) !important;
}

.ant-popover-open {
    border-color: rgba(229, 81, 55, 0.8) !important;
    color: rgba(229, 81, 55, 0.8) !important;
}

.ant-btn-default:hover {
    border-color: rgba(229, 81, 55, 0.8) !important;
    color: white !important;
}

.ant-btn-ghost:hover {
    border-color: rgba(229, 81, 55, 0.8) !important;
}